<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">LOGO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">Главная</a></li>
          <li id="chat"><a href="/channels">Каналы</a></li>
     
          <% if (name) { %>
                <li id="login"><a ><%-name%></a></li>
                <li id="logout"><a >Выйти</a></li>
          <% }else{ %>
                <li id="login"><a href="/registrate">Вход/Регистрация</a></li>
          <% } %>
          
      </ul>
    </div>
  </div>
</nav>