<script src="http://192.168.56.1:3000/public/js/bootstrap4.3.1.js" crossorigin="anonymous"></script>
<script src="http://192.168.56.1:3000/public/js/jquery-3.4.1.min.js"></script>
<script src="http://192.168.56.1:3000/public/js/menu.js"></script>

<script src='http://192.168.56.1:3000/socket.io/socket.io.js'></script>
<script>
    $("#logout").click(()=>{
        $.post('/logout', '', function(response) {
        
                if(response.retStatus === 'Success') {
                    if (response.redirectTo && response.msg == 'Just go there please') {
                        window.location = response.redirectTo;
                    }
                }
     })
    })
     
</script>