<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
    <div class="container">
            <div class=jumbotron>
                <h2 class="display-4">Выбрать канал</h2>
                    <% for(var i=0; i<channelsList.length; i++) {%>
                        <tr>
                        <td>
                                <% if(channelsList[i].name=='public'||channelsList[i].users.includes(name)){%>
                                    <a class="channel"style="
                                width: fit-content;
                                padding: 1px 4px 1px 4px;
                                border: 1px solid #ccc;
                                font-size: large;
                                margin: 4px;
                                border-radius: 4px;
                                cursor: pointer;"
                               href="/channels/<%-channelsList[i].name %>" >
                                <%-channelsList[i].name%></a>
                                <%} %>
                        </td>
                        </tr>
                    <% } %>
                    <br>
                    <div style="border:1px solid #ccc;margin: 4px 0px 0px 0px;"></div>
                <h2>Добавить новый канал</h2>
                <textarea id = "channelName"  placeholder="Имя Канала" style="display: block;width: 208px;height: 34px; /* padding: 6px 12px; */ font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none; border: 1px solid #ccc; border-radius: 4px;"></textarea>
                <h4>Добавить Пользователей в канал</h4>
                
                        <% for(var i=0; i<usersList.length; i++) {%>
                            <% if(usersList[i]!=name){%>
                                <tr>
                                <td>
                                        
                                    <div class="userToAd" style="
                                    width: fit-content;
                                    padding: 1px 4px 1px 4px;
                                    border: 1px solid #ccc;
                                    font-size: large;
                                    margin: 4px;
                                    border-radius: 4px;
                                    cursor: pointer;"
                                    ><%-usersList[i] %></div>
                                </td>
                                </tr>
                            <% } %>
                        <% } %>
                        <br>
                  
                <button id="addChanel" class="btn btn-success">Добавить канал</button>
            </div>
           
            <div style="overflow: auto;height: 200px"  id="messages">

            </div>
        </div>
</body>
<% include partials/script %>
<script src='http://localhost:3000/socket.io/socket.io.js'></script>
<script>
    var newChannels={

    }
    $('.userToAd').bind('click',function(){
        if(!$(this).hasClass('coosed')){
            $(this).css('border','1px solid #1bc34f').addClass('coosed')
        }else{
            $(this).css('border','1px solid #ccc').removeClass('coosed')
        }
        
    })
   $('#addChanel').bind('click',function(){
       var channelName=$('#channelName').val();
        console.log(channelName.length)
       if(channelName.length!=0){
            var Users=[]
            $('.userToAd').each(function(i,element){
                if($(element).hasClass('coosed')){
                    console.log(element)
                    console.log($(element))
                    Users.push($(element).text())
                }
            })
            if(Users.length>0){
                Users.unshift($('#login>a').text())
                $.post('/createNewChannel', {name:channelName, users:Users},function(response){
                    window.location.href = '/channels/'+channelName
                })
            }
       }
      
   })
</script>
</html>