<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
    <div class="container">
            <br>
            <div class=jumbotron>
                <h1 id="channelName" class="display-4"><%-channel%></h1>
                <br>
                <div id = "name" class="form-control" placeholder="Name"><%- name%></div>
                <br>
                <textarea id = "message" class="form-control" placeholder="Your Message Here">
                </textarea>
                <br>
                <button id="send" class="btn btn-success">Send</button>
            </div>
            <div style="overflow: auto;height: 200px" id="messages">

            </div>
        </div>
</body>
<% include partials/script %>
<script src='http://192.168.56.1:3000/socket.io/socket.io.js'></script>
<script>
     var socket=io();
     console.log(socket)
        socket.on('connect', function(){
            socket.on('message', function(data){
                $("#messages").prepend(`<h4> ${data.name} </h4> <p> ${ data.messages} </p>`)
            })
        });
    $(() => {
        
        $("#send").click(()=>{
        sendMessage({name: $("#name").html(), message: $("#message").val()});
        })

        getMessages()
        })

        

    function addMessages(data){
        var CurrentNumber=$('#messages').children().length
        console.log(data.messages)
        $('#messages').children().remove()
        for(var i=CurrentNumber;i<data.messages.length;i++){
           
             $("#messages").prepend(`<h4> ${data.messages[i].name} </h4> <p> ${ data.messages[i].messages} </p>`)
        }
        //$("#messages").prepend(`<h4> ${message.name} </h4> <p> ${message.message} </p>`)
    }

    function getMessages(){
        $.get('/chat/messagesGet/'+$('#channelName').text() ,(data) => {
            console.log(data)
            addMessages(data)
        })
    }

    function sendMessage(message){
        $.post('/chat/messagesPost/'+$('#channelName').text(), message)
    }
</script>
</html>