<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Онлайн чат с регистрацией пользователей написанный на Node.js + Express + MongoDB </p>
      
    </div>
    <div class="col-sm-4"> 
      <p>Чат создали студенты МТУСИ группы БСТ 1702 в 2019 году</p>
    </div>
    <div class="col-sm-4"> 
        Тут должне быть еще текст, но мне интереснее писать код чем сочинять его))))
      <p></p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
    <script>
    </script>
</html>