<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-2">
      
      
    </div>
    <div class="col-sm-8"> 
      <textarea id = "username" class="form-control" placeholder="Name"></textarea>
                <br>
      <input type="password" id = "password" class="form-control" placeholder="Pasword">
        <br>
        <button id="loginUser" class="btn btn-success">Войти</button>
        <a  href="/registrate" class="btn btn-success">Зарегистрироваться</a>
    </div>
    <div class="col-sm-2"> 
        
    </div>
  </div>
</div>
</body>
<% include partials/script %>
    
    <script>
        $(() => {
        
            $("#loginUser").click(()=>{
                registrateUser({username: $("#username").val(), password: $("#password").val()});
            })
        })
        function registrateUser(message){
        console.log(message);
            $.post('/loginUser', message, function(response) {
                
                if(response.retStatus === 'Success') {
                    // not sure what did you mean by ('/team' && '/team' !== "")
                    // if('/team' && '/team' !== "") {
                    if (response.redirectTo && response.msg == 'Just go there please') {
                        window.location = response.redirectTo;
                    }
                }else if(response.retStatus === 'Not Success'){
                     if (response.redirectTo && response.msg == 'Just go there please') {
                         window.location = response.redirectTo;
                     }
                }
            })
        }
    </script>
</html>