<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-2">
      
      
    </div>
    <div class="col-sm-8"> 
      <textarea  id = "username" class="form-control regist-form" placeholder="Name"></textarea>
                <br>
      <input type="password" id = "password" class="form-control" placeholder="Pasword">
        <br>
        <textarea id = "email" class="form-control" placeholder="Email"></textarea>
                <br>
        <button id="registrate" class="btn btn-success">Зарегистрироваться</button>
        <a href="login" class="btn btn-success">Войти</a>
    </div>
    <div class="col-sm-2"> 
        
    </div>
  </div>
</div>
</body>
<% include partials/script %>
    <script>
      
        $(() => {
        
            $("#registrate").click(()=>{
                registrateUser({username: $("#username").val(), password: $("#password").val(),email:$("#email").val()});
            })
        })
        function registrateUser(message){
        console.log(message)
            $.post('/registrateUser', message,function(response){
                if(response.retStatus === 'Success') {
                    // not sure what did you mean by ('/team' && '/team' !== "")
                    // if('/team' && '/team' !== "") {
                    console.log('Success')
                    if (response.redirectTo && response.msg == 'Just go there please') {
                        window.location = response.redirectTo;
                    }
                }else if(response.retStatus === 'Wrong Username'){
                    $('*.regist-form').css({
                        'border': '1px solid #ccc'

                    })
                    $('#username').css({
                        'border': '1px solid red'
                    })             
                }else if(response.retStatus === 'Wrong Email'){
                    $('*.regist-form').css({
                        'border': '1px solid #ccc'
                    })
                    $('#email').css({
                        'border': '1px solid red'
                    })             
                }else if(response.retStatus === 'Wrong Email'){
                    
                    $('*.regist-form').css({
                        'border': '1px solid #ccc'
                    })
                    $('#email').css({
                        'border': '1px solid red'
                    })
                    $('#username').css({
                        'border': '1px solid red'
                    })
                }
            })
            
        }
        $(() => {
        
            $("#loginUser").click(()=>{
                registrateUser({username: $("#username").val(), password: $("#password").val()});
            })
        })
        
    </script>
</html>